{% extends 'base.html.twig' %}
{% block title %}Mon compte{% endblock %} 

{% block body %}
<body class="dashboard-wrapper">
 
        <div class=" row bg-dark dashboard-bg pt-5">
            <div class="p-5">
                <h1 class=" m-5">Admin panel</h1>
                           
                        
            </div>
                        
                        <div class="mt-5">
                        <h2>Mes annonces</h2>
                        </div>
                        

        </div>

</body>

{% endblock %}
