{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

<div class="container mt-5">

    <div class="d-flex justify-content-center">

        <div>
            <h1 class="h1gite">{{ gite.titre }}</h1>
            <p>{{ gite.description }}</p>
        </div>

    </div>
</div>


{% endblock %}