{% extends 'base.html.twig' %}

{% block body %}
<div class="row dashboard-wrapper">
    <div>
        <h1 class="text-dark m-5">Bienvenu chez vous</h1>
    </div>
        <div class="col-md-6 offset-3 bg-dark p-4 register-bg">
            <div class="row my-4">
                {% if is_granted('ROLE_CLIENT', 'ROLE_PROPRIETAIRE') %}
                    <h2>Vos informations de compte</h2>
                    <p>Nom: {{ app.user.nom | capitalize}}</p>
                    <p>Prénom: {{ app.user.prenom | capitalize}}</p>
                    <p>Téléphone: {{ app.user.telephone }}</p>
                    <p>Email: {{ app.user.email }}</p>
                    <div class="col-md-2 offset-5"><a href="#" class="btn btn-light">Proposer son logement</a></div>
                {% endif %} 
                {% if is_granted('ROLE_PROPRIETAIRE') %}
                <h2>Mes annonces</h2>
                    
                {% endif %} 
            </div>
        </div>
    </div>

{% endblock %}
